# .NET / Visual Studio
.vs/
**/bin/
**/obj/
*.user
*.suo

# PowerShell / Donut Runtime
logs/*
reports/*
res/*
CoverageReport/*
Screenshots/*
*Temp*

# Configuration (User specific)
.config
*.log

# Legacy
MainWindow-*